<div class="list-group">
    <div ng-repeat="user in  userData.items | orderBy:predicate:reverse" class="list-group-item ">
        <div class="row">

            <div class="col-md-1 col-sm-1 col-lg-1">
                <img src="{{user.avatar_url}}}}" class="avatarImage">
            </div>
            <div class="col-md-11 col-sm-11 col-lg-11">
                <h4>
                    <a href="{{ user.html_url }}" target="_blank" ><!--{{repo.repos_url}}-->
                        {{user.login}}
                    </a>
                    <small><button type="button" ng-click="auth(user.login);">Repository</button></small>

                </h4>
            </div>

        </div>
    </div>
</div>